node_modules/
**/node_modules/

.output/
**/.output/
**/.nitro/
**/.tanstack/
**/.vinxi/
**/dist/
**/dist-ssr/

.env
**/.env
*.local

.DS_Store
**/.idea/
**/.vscode/
**/*.iml

snowmiku2019-E-pair.css
