### System files ###
.DS_Store

### Frontend dependencies ###
node_modules/

### Build outputs ###
dist/
dist-ssr/
.nitro/
.tanstack/
.wrangler/
.output/
.vinxi/
__unconfig*

### Local files ###
*.local
.env
todos.json
/docker/.env
